---
layout: default
---

{% assign nUpcoming = 0 %}
{% assign nPast = 0 %}
{% assign curDate = site.time | date: '%s' %}
{%- for post in site.posts -%}
  {% assign postStartDate = post.date | date: '%s' %}
  {%- if postStartDate >= curDate -%}
    {% assign nUpcoming = nUpcoming | plus: 1 %}
  {%- else -%}
    {% assign nPast = nPast | plus: 1 %}
  {%- endif -%}
{%- endfor -%}

<div class="wrapper">
    <header class="post-header">
      <h1 class="post-title">{{ page.title | escape }}</h1>
    </header>

    <ul class="post-list home-post-list">
      {%- for post in site.posts -%}
        {% assign postStartDate = post.date | date: '%s' %}
        {% if postStartDate <= curDate %}
          {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
          {% if post.datenotset %}
          {%- assign date_format = site.minima.date_format | default: "%Y" -%}
          {% endif %}
          <li>
            <div class="post-list-description">
                <h3>
                  <a class="post-link" href="{{ post.url | relative_url }}">
                    {{ post.title | escape }}
                  </a>
                </h3>
                <h4>{{ post.date | date: date_format }}</h4>
                {% if post.image %}
                  <div class="post-list-image">
                    <img src="{{ post.image | relative_url }}" />
                  </div>
                {% endif %}
                {% if post.abstract %}
                  {{ post.abstract }}
                {% endif %}
            </div>
          </li>
          <li>
        {%- endif -%}
      {%- endfor -%}
    </ul>
</div>
